<main style="background-color: #426e5e;font-family: AndroidAssassin,serif;color: white">
  <div class="ms-3 row">
    <h2>Persönliche Statistiken</h2>
  </div>
  <div class="ms-3 row">
    <p>Hier siehst du allgemeine zusammengefasste Statistiken deiner Nutzung</p>
    <div class="col-4 d-flex flex-column p-4">
      <h4>Anzahl eigene Karteikarten</h4>
      <h4>Anzahl eigene Karteikartensets</h4>
      <h4>Anzahl beantwortete Karteikarten</h4>
      <h4>Richtig beantwortete Karteikarten</h4>
      <h4>Lieblings Karteikartenset</h4>
      <h4>Positive Karteikarten Bewertungen</h4>
      <h4>Negative Karteikarten Bewertungen</h4>
      <h4>Duelle gespielt</h4>
      <h4>Duelle gewonnen</h4>
      <h4>Lieblingsgegner</h4>
      <h4>Freunde herausgefordert</h4>
      <h4>Karteikarten markiert</h4>
    </div>
    <div class="col-4 d-flex flex-column p-4">
      <h4 style="font-weight: bold">23</h4>
      <h4 style="font-weight: bold">4</h4>
      <h4 style="font-weight: bold">234</h4>
      <h4 style="font-weight: bold">89%</h4>
      <h4 style="font-weight: bold">BWL Grundlagen</h4>
      <h4 style="font-weight: bold">12</h4>
      <h4 style="font-weight: bold">7</h4>
      <h4 style="font-weight: bold">52</h4>
      <h4 style="font-weight: bold">2</h4>
      <h4 style="font-weight: bold">Maxime Musterfrau</h4>
      <h4 style="font-weight: bold">7</h4>
      <h4 style="font-weight: bold">16</h4>
    </div>
  </div>
  <hr>
  <div class="ms-3 row">
    <h2>Bestenliste Karteikarten</h2>
  </div>
  <div class="ms-3 row my-2" style="color:black">
    <p style="color:white">Die Bestenliste deiner Freunde geordnet nach beantworteten Karteikarten</p>
    <div class="col-10 d-flex p-2 box">
      <div class="col-1 d-flex flex-column align-items-center justify-content-center">
        <h3 style="margin-bottom: 0;font-weight: bold;color: darkgoldenrod">1</h3>
      </div>
      <div class="col-1 d-flex flex-column align-items-center">
        <img src="assets/profile.jpg" alt="" height="50px" width="50px">
      </div>
      <div class="col-3 d-flex flex-column align-items-start justify-content-center">
        <h3 style="margin-bottom: 0">Mirko Mustermensch</h3>
      </div>
      <div class="col-7 d-flex flex-column align-items-end justify-content-center">
        <h3 style="margin-bottom: 0">879</h3>
      </div>
    </div>
  </div>
  <div class="ms-3 row my-2" style="color:black">
    <div class="col-10 d-flex p-2 box">
      <div class="col-1 d-flex flex-column align-items-center justify-content-center">
        <h3 style="margin-bottom: 0;font-weight: bold;color: silver">2</h3>
      </div>
      <div class="col-1 d-flex flex-column align-items-center">
        <img src="assets/profile.jpg" alt="" height="50px" width="50px">
      </div>
      <div class="col-3 d-flex flex-column align-items-start justify-content-center">
        <h3 style="margin-bottom: 0">Maxime Musterfrau</h3>
      </div>
      <div class="col-7 d-flex flex-column align-items-end justify-content-center">
        <h3 style="margin-bottom: 0">342</h3>
      </div>
    </div>
  </div>
  <div class="ms-3 row my-2" style="color:black">
    <div class="col-10 d-flex p-2 box">
      <div class="col-1 d-flex flex-column align-items-center justify-content-center">
        <h3 style="margin-bottom: 0;font-weight: bold;color: saddlebrown">3</h3>
      </div>
      <div class="col-1 d-flex flex-column align-items-center">
        <img src="assets/profile.jpg" alt="" height="50px" width="50px">
      </div>
      <div class="col-3 d-flex flex-column align-items-start justify-content-center">
        <h3 style="margin-bottom: 0">Max Mustermann</h3>
      </div>
      <div class="col-7 d-flex flex-column align-items-end justify-content-center">
        <h3 style="margin-bottom: 0">234</h3>
      </div>
    </div>
  </div>
  <div class="ms-3 row my-2" style="color:black">
    <div class="col-10 d-flex p-2 box">
      <div class="col-1 d-flex flex-column align-items-center justify-content-center">
        <h3 style="margin-bottom: 0;font-weight: bold;color: black">4</h3>
      </div>
      <div class="col-1 d-flex flex-column align-items-center">
        <img src="assets/profile.jpg" alt="" height="50px" width="50px">
      </div>
      <div class="col-3 d-flex flex-column align-items-start justify-content-center">
        <h3 style="margin-bottom: 0">Peter Pan</h3>
      </div>
      <div class="col-7 d-flex flex-column align-items-end justify-content-center">
        <h3 style="margin-bottom: 0">141</h3>
      </div>
    </div>
  </div>
  <div class="ms-3 row my-2" style="color:black">
    <div class="col-10 d-flex p-2 box">
      <div class="col-1 d-flex flex-column align-items-center justify-content-center">
        <h3 style="margin-bottom: 0;font-weight: bold;color: black">5</h3>
      </div>
      <div class="col-1 d-flex flex-column align-items-center">
        <img src="assets/profile.jpg" alt="" height="50px" width="50px">
      </div>
      <div class="col-3 d-flex flex-column align-items-start justify-content-center">
        <h3 style="margin-bottom: 0">Angela Merkel</h3>
      </div>
      <div class="col-7 d-flex flex-column align-items-end justify-content-center">
        <h3 style="margin-bottom: 0">130</h3>
      </div>
    </div>
  </div>
  <div class="ms-3 row my-2" style="color:black">
    <div class="col-10 d-flex p-2 box">
      <div class="col-1 d-flex flex-column align-items-center justify-content-center">
        <h3 style="margin-bottom: 0;font-weight: bold;color: black">6</h3>
      </div>
      <div class="col-1 d-flex flex-column align-items-center">
        <img src="assets/profile.jpg" alt="" height="50px" width="50px">
      </div>
      <div class="col-3 d-flex flex-column align-items-start justify-content-center">
        <h3 style="margin-bottom: 0">Tony Stark</h3>
      </div>
      <div class="col-7 d-flex flex-column align-items-end justify-content-center">
        <h3 style="margin-bottom: 0">99</h3>
      </div>
    </div>
  </div>
  <div class="ms-3 row my-2" style="color:black">
    <div class="col-10 d-flex p-2 box">
      <div class="col-1 d-flex flex-column align-items-center justify-content-center">
        <h3 style="margin-bottom: 0;font-weight: bold;color: black">7</h3>
      </div>
      <div class="col-1 d-flex flex-column align-items-center">
        <img src="assets/profile.jpg" alt="" height="50px" width="50px">
      </div>
      <div class="col-3 d-flex flex-column align-items-start justify-content-center">
        <h3 style="margin-bottom: 0">Donald Duck</h3>
      </div>
      <div class="col-7 d-flex flex-column align-items-end justify-content-center">
        <h3 style="margin-bottom: 0">83</h3>
      </div>
    </div>
  </div>
  <hr>
  <div class="ms-3 row">
    <h2>Bestenliste Duelle</h2>
  </div>
  <div class="ms-3 row my-2" style="color:black">
    <p style="color:white">Die Bestenliste deiner Freunde geordnet nach gewonnenen Duellen</p>
    <div class="col-10 d-flex p-2 box">
      <div class="col-1 d-flex flex-column align-items-center justify-content-center">
        <h3 style="margin-bottom: 0;font-weight: bold;color: darkgoldenrod">1</h3>
      </div>
      <div class="col-1 d-flex flex-column align-items-center">
        <img src="assets/profile.jpg" alt="" height="50px" width="50px">
      </div>
      <div class="col-3 d-flex flex-column align-items-start justify-content-center">
        <h3 style="margin-bottom: 0">Mirko Mustermensch</h3>
      </div>
      <div class="col-7 d-flex flex-column align-items-end justify-content-center">
        <h3 style="margin-bottom: 0">134</h3>
      </div>
    </div>
  </div>
  <div class="ms-3 row my-2" style="color:black">
    <div class="col-10 d-flex p-2 box">
      <div class="col-1 d-flex flex-column align-items-center justify-content-center">
        <h3 style="margin-bottom: 0;font-weight: bold;color: silver">2</h3>
      </div>
      <div class="col-1 d-flex flex-column align-items-center">
        <img src="assets/profile.jpg" alt="" height="50px" width="50px">
      </div>
      <div class="col-3 d-flex flex-column align-items-start justify-content-center">
        <h3 style="margin-bottom: 0">Maxime Musterfrau</h3>
      </div>
      <div class="col-7 d-flex flex-column align-items-end justify-content-center">
        <h3 style="margin-bottom: 0">78</h3>
      </div>
    </div>
  </div>
  <div class="ms-3 row my-2" style="color:black">
    <div class="col-10 d-flex p-2 box">
      <div class="col-1 d-flex flex-column align-items-center justify-content-center">
        <h3 style="margin-bottom: 0;font-weight: bold;color: saddlebrown">3</h3>
      </div>
      <div class="col-1 d-flex flex-column align-items-center">
        <img src="assets/profile.jpg" alt="" height="50px" width="50px">
      </div>
      <div class="col-3 d-flex flex-column align-items-start justify-content-center">
        <h3 style="margin-bottom: 0">Max Mustermann</h3>
      </div>
      <div class="col-7 d-flex flex-column align-items-end justify-content-center">
        <h3 style="margin-bottom: 0">52</h3>
      </div>
    </div>
  </div>
  <div class="ms-3 row my-2" style="color:black">
    <div class="col-10 d-flex p-2 box">
      <div class="col-1 d-flex flex-column align-items-center justify-content-center">
        <h3 style="margin-bottom: 0;font-weight: bold;color: black">4</h3>
      </div>
      <div class="col-1 d-flex flex-column align-items-center">
        <img src="assets/profile.jpg" alt="" height="50px" width="50px">
      </div>
      <div class="col-3 d-flex flex-column align-items-start justify-content-center">
        <h3 style="margin-bottom: 0">Peter Pan</h3>
      </div>
      <div class="col-7 d-flex flex-column align-items-end justify-content-center">
        <h3 style="margin-bottom: 0">7</h3>
      </div>
    </div>
  </div>
  <div class="ms-3 row my-2" style="color:black">
    <div class="col-10 d-flex p-2 box">
      <div class="col-1 d-flex flex-column align-items-center justify-content-center">
        <h3 style="margin-bottom: 0;font-weight: bold;color: black">5</h3>
      </div>
      <div class="col-1 d-flex flex-column align-items-center">
        <img src="assets/profile.jpg" alt="" height="50px" width="50px">
      </div>
      <div class="col-3 d-flex flex-column align-items-start justify-content-center">
        <h3 style="margin-bottom: 0">Angela Merkel</h3>
      </div>
      <div class="col-7 d-flex flex-column align-items-end justify-content-center">
        <h3 style="margin-bottom: 0">1</h3>
      </div>
    </div>
  </div>
  <div class="ms-3 row my-2" style="color:black">
    <div class="col-10 d-flex p-2 box">
      <div class="col-1 d-flex flex-column align-items-center justify-content-center">
        <h3 style="margin-bottom: 0;font-weight: bold;color: black">6</h3>
      </div>
      <div class="col-1 d-flex flex-column align-items-center">
        <img src="assets/profile.jpg" alt="" height="50px" width="50px">
      </div>
      <div class="col-3 d-flex flex-column align-items-start justify-content-center">
        <h3 style="margin-bottom: 0">Tony Stark</h3>
      </div>
      <div class="col-7 d-flex flex-column align-items-end justify-content-center">
        <h3 style="margin-bottom: 0">0</h3>
      </div>
    </div>
  </div>
  <div class="ms-3 row my-2" style="color:black">
    <div class="col-10 d-flex p-2 box">
      <div class="col-1 d-flex flex-column align-items-center justify-content-center">
        <h3 style="margin-bottom: 0;font-weight: bold;color: black">7</h3>
      </div>
      <div class="col-1 d-flex flex-column align-items-center">
        <img src="assets/profile.jpg" alt="" height="50px" width="50px">
      </div>
      <div class="col-3 d-flex flex-column align-items-start justify-content-center">
        <h3 style="margin-bottom: 0">Donald Duck</h3>
      </div>
      <div class="col-7 d-flex flex-column align-items-end justify-content-center">
        <h3 style="margin-bottom: 0">0</h3>
      </div>
    </div>
  </div>
</main>
