<main style="background-color: #426e5e;height: 100vh">
  <div class="row p-5 d-flex justify-content-center">
    <div class="col-3 d-flex flex-column justify-content-center align-items-center box m-5 p-4">
      <img src="assets/book.jpg" alt="" height="150px" width="200px">
      <h2 class="p-2" style="font-family: AndroidAssassin,serif">LERNEN</h2>
      <p class="m-2" style="text-align: center">
        Hier geht es zum Lernbereich.
        Lerne deine eigenen Karteikarten und die deiner Freunde.
        Fordere deine Freunde heraus!
      </p>
      <button class="btn m-2" style="background-color: #426e5e;color: white" routerLink="/learn">
        STARTEN
      </button>
    </div>
    <div class="col-3 d-flex flex-column justify-content-center align-items-center box m-5 p-4">
      <img src="assets/stats.jpg" alt="" height="150px" width="200px">
      <h2 class="p-2" style="font-family: AndroidAssassin,serif">STATISTIK</h2>
      <p class="m-2" style="text-align: center">
        Hier geht es zu den Statistiken.
        Schau dir deine aktuell gelernten Karteikarten an.
        Verschaffe dir einen Überblick deiner Leistung!
      </p>
      <button class="btn m-2" style="background-color: #426e5e;color: white" routerLink="/stats">
        STARTEN
      </button>
    </div>
    <div class="col-3 d-flex flex-column justify-content-center align-items-center box m-5 p-4">
      <img src="assets/question.jpg" alt="" height="150px" width="200px">
      <h2 class="p-2" style="font-family: AndroidAssassin,serif">FRAGENPOOL</h2>
      <p class="m-2" style="text-align: center">
        Hier geht es zu allen Fragen.
        Suche dir Fragen von anderen Nutzern aus.
        Unbegrenzte Lernmöglichkeiten!
      </p>
      <button class="btn m-2" style="background-color: #426e5e;color: white" routerLink="/question-pool">
        STARTEN
      </button>
    </div>
  </div>
</main>
