<body style="background-color: white">
<div class="d-flex align-items-stretch h-100 w-100">
  <div *ngIf="storageService.getData('quizme.loggedInUser')!=''" class="col-3 justify-content-end" style="width: 15vw">
    <app-sidebar class="text-bg-dark d-lg-flex d-none d-sm-none d-md-none" style="height:100vh"></app-sidebar>
  </div>
  <main class="w-100 d-flex flex-column">
    <app-topbar *ngIf="storageService.getData('quizme.loggedInUser')!=''" class="text-light" style="background-color: #4d5455"></app-topbar>
    <div>
      <router-outlet class="text-light" style="background-color: white"></router-outlet>
    </div>
  </main>
</div>
</body>
