<main style="background-color: #426e5e;font-family: AndroidAssassin,serif;color: white">
  <div class="p-3 row ms-2">
    <h2>EINSTELLUNGEN</h2>
  </div>
  <div class="p-3 row mx-3">
    <div class="form-check form-switch">
      <input class="form-check-input large-switch me-1" type="checkbox" role="switch" id="flexSwitchCheckPrivate">
      <label class="form-check-label" for="flexSwitchCheckPrivate"><h4 style="margin-bottom: 0">Privater Modus</h4></label>
    </div>
    <div class="mx-4">
      <p style="margin-bottom: 0">Im privaten Modus werden dein Profil und deine Karteikartensets nicht gelistet.</p>
      <p>Falls du schon Freunde hinzugefügt hast, wirst du nicht mehr in Bestenlisten angezeigt.</p>
    </div>
  </div>
  <hr>
  <div class="p-3 row mx-3">
    <div class="form-check form-switch">
      <input class="form-check-input large-switch me-1" type="checkbox" role="switch" id="flexSwitchCheckEmail" disabled>
      <label class="form-check-label" for="flexSwitchCheckEmail"><h4 style="margin-bottom: 0">E-Mail Benachrichtigungen</h4></label>
    </div>
    <div class="mx-4">
      <p style="margin-bottom: 0">Werde per Mail benachrichtigt, wenn einer deiner Freunde ein Duell gegen dich gespielt hat.</p>
      <p>[Diese Funktion wird bald hinzugefügt]</p>
    </div>
  </div>
  <hr>
  <div class="p-3 row mx-3">
    <div class="form-check form-switch">
      <input class="form-check-input large-switch me-1" type="checkbox" role="switch" id="flexSwitchCheckTimer" disabled>
      <label class="form-check-label" for="flexSwitchCheckTimer"><h4 style="margin-bottom: 0">Timer</h4></label>
    </div>
    <div class="mx-4">
      <p style="margin-bottom: 0">Stelle den Timer während eines Duells an oder aus.</p>
      <p>[Diese Funktion wird bald hinzugefügt]</p>
    </div>
  </div>
  <hr>
  <div class="p-3 row mx-3">
    <div class="col-1">
      <img src="assets/profile.jpg" alt="" height="100" width="100">
    </div>
    <div class="col-3 d-flex flex-column justify-content-center align-items-center">
      <button class="btn" style="background-color: white;font-weight: bold;color: black">
        PROFILBILD ANPASSEN
      </button>
    </div>
  </div>
  <hr>
  <div class="p-3 row mx-3">
    <div class="col-2">
      <button class="btn" style="background-color: white;font-weight: bold;color: black">
        PASSWORT ÄNDERN
      </button>
    </div>
    <div class="col-2">
      <button class="btn" style="background-color: white;font-weight: bold;color: black">
        ACCOUNT LÖSCHEN
      </button>
    </div>
  </div>
</main>
